// main button
.button
  padding: 1.145rem 1.714rem
  font-size: 0.857rem
  font-weight: bold
  text-transform: uppercase
  color: $black
  border: none
  border-radius: 1.6rem
  cursor: pointer
.button--main
  background-color: $mainColor
.link
  text-decoration: none
.title
  position: relative
  font-size: 2rem
  font-weight: normal
  text-transform: uppercase
  color: $text
  text-align: center
.title--before
  &::before
    position: absolute
    bottom: -1rem
    left: 50%
    transform: translateX(-50%)
    content: ''
    width: 6.214rem
    height: 2px
    background-color: $mainColor
.title--light
  color: $light
.input
  padding: 1.4rem
  max-height: 3.214rem
  font-size: 0.95rem
  font-family: 'Roboto', sans-serif
  color: $text
  border-radius: 1.65rem
  border: 0
.swiper-button-prev,.swiper-button-next
  width: 2.571rem
  height: 2.571rem
  border-radius: 50%
  &::after
    content: ''
.swiper-button-prev
  background: $mainColor url(../img/services/prev.png) no-repeat center / 0.4rem
.swiper-button-next
  background: $mainColor url(../img/services/next.png) no-repeat center / 0.4rem
.swiper-pagination-bullet
  width: 1.571rem
  height: 0.285rem
  border-radius: 3px
  background-color: $light
  opacity: 1
  &::hover
    background-color: $mainColor
  &-active
    background-color: $mainColor